.logo {}

body {
    background-color: #001634;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 350px;
}

#login {}

.flex {
    display: flex;
    text-align: center;
    justify-content: center;
}

.button {
    display: flex;
    text-align: center;
    justify-content: center;
}

#icones {
    padding: 100px;
    height: 100px;
}